@import '../../static/styles/base/colors';
body.dark-mode {
    div.highlight-boxes {
        background-color: rgb(16, 23, 29);
    }
    @media only screen and (min-width:780px) {
        .twitter-dark {
            display: block !important;
            background-color: rgb(16, 23, 29);
        }
    }
    .twitter-light {
        display: none;
    }
    .reg-button {
        color: #fff !important;
        background: linear-gradient(to left, rgb(64, 154, 191) 25%, rgb(16, 23, 29) 75%) !important;
        background-size: 400% 100% !important;
        background-position: right bottom !important;
    }
    .reg-button:hover {
        color: #fff !important;
        background-position: left bottom !important;
    }
}

.home-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    .twitter-light {
        background-color: aliceblue;
    }
    .centered-top {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .col {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        /*flex: 1;*/
    }
    .reg-button {
        display: block;
        font-size: 16px;
        font-weight: medium;
        text-transform: uppercase;
        font-family: Montserrat, sans-serif;
        padding: 8px;
        margin-bottom: 20px;
        width: 90%;
        height: 40px;
        border-radius: 5px;
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
        transition: all .5s;
        border: solid 0px;
        color: #fff;
        background: linear-gradient(to left, skyblue 25%, aliceblue 75%);
        background-size: 400% 100%;
        background-position: right bottom;
        font-weight: bold;
        z-index: 3;
        text-align: center;
    }
    .reg-button:hover {
        color: rgb(64, 154, 191);
        background-position: left bottom;
    }
    .reg-button:active {
        margin-top: 5px;
        margin-left: 5px;
    }
    .left {
        flex: 1;
        img {
            width: 100%;
            margin-top: -180px;
            margin-left: -45px;
            margin-bottom: -60px;
        }
        .twitter-zone {
            width: 90%;
            border-radius: 5px;
            -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
            box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
            -webkit-transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
            transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
            transition-property: color, background-color, box-shadow, transform;
            transition-property: color, background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
            -webkit-transition-duration: .15s;
            transition-duration: .15s;
        }
        .twitter-dark {
            display: none;
        }
        p.timeline-Tweet-text {
            margin-block-end: 0px !important;
            white-space: normal !important;
            font-size: 12px;
        }
    }
    @media only screen and (max-width:779px) {
        .col {
            display: inline-block;
            .reg-button {
                width: 100%;
                background: none !important;
                background-color: rgb(64, 154, 191) !important;
                color: #fff !important;
            }
        }
        .twitter-zone {
            display: none;
        }
        .left {
            img {
                margin-top: -120px;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: -50px;
            }
        }
        .right {
            img {
                display: none;
            }
            .highlight-box {
                margin: 0px !important;
            }
        }
    }
    .right {
        .reg-button {
            width: 100% !important;
            visibility: hidden; // Remove this when registration goes live // 
        }
        flex: 1;
        img {
            width: 100% !important;
        }
        .highlight-box {
            margin-top: 20px;
            font-size: 2.5em;
            line-height: 1.2;
            margin-left: 20px;
            .vision-highlight {
                font-size: 30px;
                font-family: 'Jura';
                margin: 20px 0px;
            }
            .num-highlight {
                font-family: Lato, Gotham, Arial;
                font-weight: 900;
                margin-right: 20px;
            }
            .highlight-spans {
                text-transform: uppercase;
                font-weight: 100;
            }
            .focus {
                color: transparent;
                text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            }
            .highlight-boxes {
                background-color: aliceblue;
                padding: 20px 20px 20px 50px;
                border-radius: 5px;
                box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
                transition-property: color, background-color, box-shadow, transform;
                transition-duration: .15s;
            }
        }
    }
}

// this is a stupid fix to make blurry text show up on certain versions of microsoft edge because why would we ever want every browser to render things the same way thats crazy lol 
_:-ms-lang(x),
.focus {
    color: rgba(0, 0, 0, .5) !important;
}