.real-bullet-list {
  margin-left: 50px;
}

.no-bullets {
  list-style: none;
  list-style-position: inside;
  text-indent: -23px;
}

.fake-checkbox {
  margin-right: 10px;
}

.footnotes {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 12px;
}